 <!doctype html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
     <th:block th:replace="fragments :: risorse-head"></th:block>
     <title>Modifica la tua pizza</title> 
   </head>


   <body>
   		<nav th:replace="fragments :: navbar('pizza')"></nav>
			<div class="container">
				<h1>Modifica la tua pizza</h1>
					<hr/>
					
					<form
  			id="form-pizza"
  			th:object="${pizza}"
  			th:action="@{/add}"
  			method="POST"
  		>
  		
  			<ul>
		      <li 
		         th:each="err : ${#fields.allErrors()}" 
		         th:text="${err}">
		      </li>
			</ul>
			
			
		
			
			<input type="hidden" th:field="*{id}">
  			<div class="mb-3">
  				<label class="form-label" for="nome">Nome</label>
  				<input type="text" id="nome" class="form-control" th:field="*{nome}" th:errorClass="is-invalid">
  				<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
  					<ul>
  						<li th:each="err : ${#fields.errors('nome')}" th:text="${err}">
  					</ul>
  				</div>
  			</div>
  			<div class="mb-3">
  				<label class="form-label" for="descrizione">Descrizione</label>
  				<input type="text" id="descrizione" class="form-control" th:field="*{descrizione}" th:errorClass="is-invalid">
  				<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
  					<ul>
  						<li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}">
  					</ul>
  				</div>
  			</div>
  			<div class="mb-3">
  				<label class="form-label" for="prezzo">Prezzo</label>
  				<input type="number" step="0.01" id="prezzo" class="form-control" th:field="*{prezzo}" th:errorClass="is-invalid">
  				<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
  					<ul>
  						<li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}">
  					</ul>
  				</div>
  			</div>
  			<button type="submit" class="btn btn-primary">Save</button>
  			<a class="btn btn-primary" href="/pizza">Cancel</a>
  		</form>
	