 <!doctype html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
     <th:block th:replace="fragments :: risorse-head"></th:block>
     <title>Ingredienti</title> 
   </head>


   <body>
   		<nav th:replace="fragments :: navbar('ingredienti')"></nav>
   	<div class="container">
   		<h1>Ingredienti</h1>
   		<hr>
   	<div class="col-6">	
<!--creo form aggiungi ingredienti e poi devo aggiungere lista dove si vedranno gli ingredienti ggiunte-->
		<form 
			id="form-category"
			th:object="${newIng}"
			th:action="@{/ingredienti/edit}"
			method="POST">
			
				<div class="input-group mb-3 has-validation">
					<input th:field="*{nome}" type"text" class="form-control" placeholder="Aggiungi ingrediente" aria-label="Aggiungi ingrediente"
					 aria-describedby="ingrediente-nutton" th:errorClass="is-invalid">
					 <button class="btn btn-info" type="submit" id="ingrediente-button">Salva</button>
<!-- gestione errori-->	
					 <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
						<ul>
							<li th:each="err : ${#fields.errors('nome')}" th:text="${err}">
						</ul>
					</div>	
				</div>

   		</form>
		
   		
 <!-- alista ingr-->
		 <ul class="list-group" th:if="${ingredienti.size() > 0}">
			<li class="list-group-item" th:each="i : ${ingredienti}">
			  		<span th:text="${i.nome}"></span>
			  		<span class="badge rounded-pill" th:text="${i.pizze.size()}"></span>
			</li>
		</ul>
		
	<div class ="alert alert-info my-5" th:unless="${ingredienti.size() > 0}">
		<h3>Non ci sono ancora ingredienti</h3>
	</div>
   		
  </div>
 </div>	

   		
   			<th:block th:fragment="risorse-scrips"></th:block>
  </body>
 </html>